<?xml version="1.0" encoding="UTF-8"?>
<settings>

    <config name="plugins/quiqqer/log">
        <section name="browser_logs">
            <conf name="firephp">
                <type><![CDATA[bool]]></type>
            </conf>
            <conf name="chromephp">
                <type><![CDATA[bool]]></type>
            </conf>
        </section>

        <section name="cube">
            <conf name="server">
                <type><![CDATA[string]]></type>
            </conf>
        </section>

        <section name="newRelic">
            <conf name="appname">
                <type><![CDATA[string]]></type>
            </conf>
        </section>

        <section name="syslogUdp">
            <conf name="host">
                <type><![CDATA[string]]></type>
            </conf>
            <conf name="port">
                <type><![CDATA[integer]]></type>
            </conf>
        </section>
    </config>

    <window>
        <title>QUI Log Manager</title>
        <params>
            <icon>icon-cogs</icon>
        </params>

        <categories>

            <category name="browser_logs">
                <text>Allgemein Log Einstellungen</text>
                <icon>icon-cogs</icon>

                <settings title="browser_logs_section" name="browser_logs_section">
                    <title>Browser Loggin</title>
                    <input conf="browser_logs.firephp" type="checkbox">
                        <text>FirePHP Logs einschalten</text>
                    </input>
                    <input conf="browser_logs.chromephp" type="checkbox">
                        <text>ChromePHP Logs einschalten</text>
                    </input>
                </settings>
            </category>

            <category name="cube">
                <text>Cube Server</text>

                <settings title="cube_section" name="cube_section">
                    <title>Cube Server</title>
                    <input conf="cube.server" type="string">
                        <text>Cube Server URL</text>
                        <description><![CDATA[
                            Mehr Informationen zu Cube Server finden Sie unter: https://github.com/square/cube
                        ]]></description>
                    </input>
                </settings>
            </category>

            <category name="newrelic">
                <text>NewRelic</text>

                <settings title="newrelic_section" name="newrelic_section">
                    <title>NewRelic APP-Name</title>
                    <input conf="newRelic.appname" type="string">
                        <text>NewRelic APP-Name</text>
                        <description><![CDATA[
                            Mehr Informationen zu New Relic finden Sie unter: https://www.newrelic.com
                        ]]></description>
                    </input>
                </settings>
            </category>


            <category name="syslogudp">
                <text>Syslog UDP Server</text>

                <settings title="syslogudp_host" name="syslogudp_host">
                    <title>Host</title>
                    <input conf="syslogUdp.host" type="string">
                        <text>Host IP</text>
                    </input>
                </settings>

                <settings title="syslogudp_port" name="syslogudp_port">
                    <title>Port</title>
                    <input conf="syslogUdp.port" type="string">
                        <text>UDP Syslog Port</text>
                    </input>
                </settings>
            </category>

        </categories>
    </window>

</settings>
